services:
  app:
    image: daniellerch/mailist:latest
    restart: unless-stopped
    mem_limit: 512m
    environment:
      # Change this according to your database settings
      - Database__ConnectionString=Server=db;Port=3306;Database=mailist;User=mailist;Password=mailist;
      
      # Uncomment below if you want to use Mailist in a subfolder like example.com/mailist
      #- Hosting__PathBase=/mailist

      # Uncomment below if you want to use Mailist behind a reverse proxy like NGINX
      #- Hosting__AllowProxies=true

      # Uncomment below to login via OAuth 2.0, e.g. with ChurchTools
      #- OAuth__AuthorizationEndpoint=https://example.church.tools/oauth/authorize
      #- OAuth__TokenEndpoint=https://example.church.tools/oauth/access_token
      #- OAuth__UserInformationEndpoint=https://example.church.tools/oauth/userinfo
      #- OAuth__ClientId=2807de0033284e12bab29389b8bd1ea3acc0352b6bdc4ce8936aa854a555391d

      # Uncomment the three options below to sync with ChurchTools
      # See the main README for instructions on how to get a login token and configure permissions
      #- ChurchTools__EnableSync=true
      #- ChurchTools__Host=example.church.tools
      #- ChurchTools__LoginToken=DuIojxSyqCIMLf8JXEhQCshetSCZFP2dCuNIzHtgrKxqK13e80MdPY15wjt2jUNpWZzlCpEkJVTxYr6MCx3WZpmY5w8CeiwJbke1lKZ4GfD2jc3niVbiRI66obQtfJH8biXw2HXgZVbgMnK4aMQGOlY7Ssfp8SwyZMki1RoIYNBjWPAGAWyeAD5Dp1cApB74BqoWyziSTIE0EP6DQA8HV7n2IUZCVdgnlQkypcM7YeUTGiex57vdHrfH1foJvwax

      # Uncomment these options and fill in your SMTP account
      #- EmailDelivery__Enable=true
      #- EmailDelivery__SenderAddress=noreply@example.org
      #- EmailDelivery__SmtpHost=smtp.example.org
      #- EmailDelivery__SmtpUsername=noreply@example.org
      #- EmailDelivery__SmtpPassword=4mKrsCOoIUYm4FKumX57

      # After configuring email delivery above, you may uncomment these options and fill in your catchall IMAP account
      #- EmailRelay__Enable=true
      #- EmailRelay__ImapHost=imap.example.org
      #- EmailRelay__ImapUsername=catchall@example.org
      #- EmailRelay__ImapPassword=RKXMaQWm8k7QKFnmijma
    volumes:
      - .data/secrets:/app/secrets
    depends_on:
      db:
        condition: service_healthy
  db:
    image: mariadb:latest
    restart: unless-stopped
    mem_limit: 512m
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=mailist
      - MYSQL_USER=mailist
      - MYSQL_PASSWORD=mailist
    volumes:
      - ./data/mysql:/var/lib/mysql

    # This healthcheck will only work for newly initialized databases with a healthcheck user
    # To configure it manually, refer to https://stackoverflow.com/a/76089040/7075733
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--su-mysql", "--connect", "--innodb_initialized" ]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 30s
      start_interval: 1s
